{{ form_start(form) }}
<div class="container">
    {{ form_row(form.name , {'label':'Nom équipement'}) }}
    {{ form_row(form.classrooms, {'label':'Salles'}) }}
</div>
<div class="row">
    <a class="btn btn-outline-info" href="{{ path('equipments_index') }}">retour</a>
    <button class="btn btn-outline-primary">Ajouter</button>
</div>
{{ form_end(form) }}