{% extends 'base.html.twig' %}


{% block body %}

    <h1 class="text-center mt-2 mb-2">Gestion des équipements</h1>

    <div class="container">
        <div class="row">
            <div class="col-2">
                {% include 'administration/menu_vertical.html.twig' %}
            </div>
            <div class="col-10">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Nom</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for equipments in equipments %}
                        <tr>
                            <td>{{ equipments.name }}</td>
                            <td>
                                <a class="btn btn-primary" href="{{ path('equipments_edit', {'id': equipments.id}) }}">Modifier</a>
                                <form style="display: inline-block" method="post" action="{{ path('equipments_delete', {'id': equipments.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ equipments.id) }}">
                                    <button class="btn btn-danger">Supprimer</button>
                                </form>

                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">Aucun équipement enregistré..</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <button class="btn btn-outline-primary" data-toggle="modal" data-target="#newModal">Ajouter un équipement</button>
                {{ include('equipments/_form.html.twig') }}
            </div>
        </div>
    </div>

{% endblock %}
