{{ form_start(form) }}
<div class="container">
    {{ form_row(form.nomUE, {'label':"Nome de l'UE"}) }}
    {{ form_row(form.specialite, {'label':'Spécialité'}) }}
    {{ form_row(form.couleur , {'label':'Couleur'}) }}
    {{ form_row(form.volumeHoraire, {'label':'Volume Horaire'}) }}
</div>
<div class="row">
    <a class="btn btn-outline-info" href="{{ path('ue_index') }}">retour</a>
    <button class="btn btn-outline-primary">Modifier</button>
</div>
{{ form_end(form) }}