{% extends 'base.html.twig' %}


{% block body %}
    <div class="container my-5">
        <div class="row">
            <div class="col">
                <div class="card p-5">
                    <div class="card-body">
                        <h1 class="card-title text-center">Gestion des UEs</h1>

                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Couleur</th>
                                <th>Volume Horaire</th>
                                <th>Nom</th>
                                <th>actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for ue in ues %}
                                <tr>
                                    <td>{{ ue.id }}</td>
                                    <td>
                                        <div class="color" style="background-color: {{ ue.couleur }}"></div>
                                    </td>
                                    <td>{{ ue.volumeHoraire }}</td>
                                    <td>{{ ue.nomUE }}</td>
                                    <td>
                                        <a class="btn btn-primary" href="{{ path('ue_edit', {'id': ue.id}) }}">Modifier</a>
                                        <form style="display: inline-block" method="post" action="{{ path('ue_delete', {'id': ue.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ue.id) }}">
                                            <button class="btn btn-danger">Supprimer</button>
                                        </form>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4">Aucune UE enregistrée..</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <button class="btn btn-outline-primary" data-toggle="modal" data-target="#newModal">Ajouter une UE</button>
                        {{ include('ue/_form.html.twig') }}
                    </div>
                    {{ include('_pagination.html.twig', {'currentPath': 'ue_index', 'page': page, 'nbPage': nbPage}) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

