{% extends 'base.html.twig' %}

{% block title %}UE{% endblock %}

{% block body %}
    <h1>UE</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ u_e.id }}</td>
            </tr>
            <tr>
                <th>Couleur</th>
                <td>{{ u_e.couleur }}</td>
            </tr>
            <tr>
                <th>VolumeHoraire</th>
                <td>{{ u_e.volumeHoraire }}</td>
            </tr>
            <tr>
                <th>NomUE</th>
                <td>{{ u_e.nomUE }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('u_e_index') }}">back to list</a>

    <a href="{{ path('u_e_edit', {'id': u_e.id}) }}">edit</a>

    {{ include('u_e/_delete_form.html.twig') }}
{% endblock %}
