{% extends 'base.html.twig' %}

{% block title %}Choose UE{% endblock %}

{% block body %}
    <h1>Choose UE</h1>

    <form action="{{ path('update_ues', {'formationId': formationId, 'annee': annee}) }}" method="POST" class="mb-5">
        <ul>
            {% for ue in checkedUes %}
                <li>
                    <label for="{{ ue.nomUE }}">{{ ue.nomUE }}</label>
                    <input type="checkbox" name="{{ ue.nomUE }}" checked value="{{ ue.id }}">
                </li>
            {% endfor %}
            {% for ue in uncheckedUes %}
                <li>
                    <label for="{{ ue.nomUE }}">{{ ue.nomUE }}</label>
                    <input type="checkbox" name="{{ ue.nomUE }}" value="{{ ue.id }}">
                </li>
            {% endfor %}
        </ul>
        <input type="submit">
    </form>


{% endblock %}
