{% extends 'base.html.twig' %}

{% block title %}FormationUE{% endblock %}

{% block body %}
    <h1>FormationUE</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ formation_ue.id }}</td>
            </tr>
            <tr>
                <th>Formation</th>
                <td>{{ formation_ue.formation }}</td>
            </tr>
            <tr>
                <th>AnneeFormation</th>
                <td>{{ formation_ue.anneeFormation }}</td>
            </tr>
            <tr>
                <th>ID-UE</th>
                <td>{{ formation_ue.ue }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('formation_ue_index') }}">back to list</a>

    <a href="{{ path('formation_ue_edit', {'id': formation_ue.id}) }}">edit</a>

    {{ include('formation_ue/_delete_form.html.twig') }}
{% endblock %}
