{{ form_start(form) }}
<div class="container">
    {{ form_row(form.statut) }}
    {{ form_row(form.RFID) }}
    {{ form_row(form.specialite) }}
</div>
<div class="row">
    <a class="btn btn-outline-info" href="{{ path('professeur_index') }}">retour</a>
    <button class="btn btn-outline-primary">Modifier</button>
</div>
{{ form_end(form) }}