{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% for type, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }} mt-3 text-center">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
                <table class="planning mx-auto w-100 text-center mt-5">
                    <thead>
                        <tr>
                            <th colspan="6">Emploi du temps</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th></th>
                            <th scope="col">Lundi</th>
                            <th scope="col">Mardi</th>
                            <th scope="col">Mercredi</th>
                            <th scope="col">Jeudi</th>
                            <th scope="col">Vendredi</th>
                        </tr>
                        <tr>
                            <th scope="row">8h-10h</th>{{ planning.0|raw }}
                        </tr>
                        <tr>
                            <th scope="row">10h-12h</th>{{ planning.1|raw }}
                        </tr>
                        <tr>
                            <th scope="row">14h-16h</th>{{ planning.2|raw }}
                        </tr>
                        <tr>
                            <th scope="row">16h-18h</th>{{ planning.3|raw }}
                        </tr>
                        <tr>
                            <th></th>
                            <td>
                                {% if semaine - 2 >= 1 %}<a href=" {{ path('afficher_planning', {formationId: formation, semaine: semaine - 2}) }} ">Semaine {{ semaine - 2 }}</a>{% endif %}
                            </td>
                            <td>
                                {% if semaine - 1 >= 1 %}<a href=" {{ path('afficher_planning', {formationId: formation, semaine: semaine - 1}) }} ">Semaine {{ semaine - 1 }}</a>{% endif %}
                            </td>
                            <td class="active">
                                <span>Semaine {{ semaine  }}</span>
                            <td>
                                {% if semaine + 1 <= 52 %}<a href=" {{ path('afficher_planning', {formationId: formation, semaine: semaine + 1}) }} ">Semaine {{ semaine + 1 }}</a>{% endif %}
                            </td>
                            <td>
                                {% if semaine + 2 <= 52 %}<a href=" {{ path('afficher_planning', {formationId: formation, semaine: semaine + 2}) }} ">Semaine {{ semaine + 2 }}</a>{% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div id="modal"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/planning.css') }}">{% endblock %}

{% block javascripts %}
{% if is_granted('ROLE_RESPONSABLE') and isResponsable %}
<script>
    $(document).ready( function() {

        function initEventListeners() {
            $('.seance').click( function() {
                $('.vide').off('click');
                $('.seance').off('click');

                var url = "{{ path('editer_seance') }}/" + $(this).data("id"),
                    creneau = parseInt($(this).data('creneau'), 0),
                    supprUrl = "{{ path('supprimer_seance') }}/" + $(this).data("id")
                ;

                $.get(url , function(data) {
                    afficherForm(data, url, creneau);
                    $('#supprimer-btn').attr('href', supprUrl);
                });
            });

            $('.vide').click( function() {
                $('.vide').off('click');
                $('.seance').off('click');

                var url = "{{ path('ajouter_seance') }}/" + $(this).data("creneau"),
                    creneau = parseInt($(this).data('creneau'), 0)
                ;

                $.get(url , function(data) {
                    afficherForm(data, url, creneau);
                });
            });
        }

        function afficherForm(data, url, creneau = 0) {
                $('#modal').html($(data)[0]);
                $('#modal form').attr('action', url);
                $('#modal > .modal').modal('show');
                $('#modal > .modal').on('hidden.bs.modal', function() {
                    initEventListeners();
                });
                if(creneau > 0) {
                    $('#cours_creneau').val(creneau);
                }
        }

        initEventListeners();
    });
</script>
{% endif %}
{% endblock %}