<div style="text-align: center" class="left-menu-div">
    <h1>Administration</h1>
    <hr>
    <a href="{{ path('classroom_index') }}"><h3 class="menu-link">Salles</h3><i class="fa fa-chalkboard fa-2x"></i></a>
    <hr>
    <a href="{{ path('equipments_index') }}"><h3 class="menu-link">Equipements</h3><i class="fa fa-desktop fa-2x"></i></a>
    <hr>
    <a href="{{ path('professeur_index') }}"><h3 class="menu-link">Professeurs</h3><i class="fa fa-chalkboard-teacher fa-2x"></i></a>
    <hr>
    <h1>Scolarité</h1>
    <hr>
    <a href="{{ path('formation_index') }}"><h3 class="menu-link">Formations</h3><i class="fa fa-graduation-cap fa-2x"></i></a>
    <hr>
    <a href="{{ path('ue_index') }}"><h3 class="menu-link">UEs</h3><i class="fa fa-th-list fa-2x"></i></a>
    <hr>
    <a href="{{ path('professeur_index') }}"><h3 class="menu-link">Professeurs</h3><i class="fa fa-chalkboard-teacher fa-2x"></i></a>
    <hr>
    <a href="{{ path('afficher_planning') }}"><h3 class="menu-link">Mon planning</h3><i class="fa fa-calendar fa-2x"></i></a>
    <hr>
    <a href="{{ path('rh_index') }}"><h3 class="menu-link">Service RH</h3><i class="fas fa-user-clock fa-2x"></i></a>
</div>