{% extends 'base.html.twig' %}


{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-2">
                <div class="card">
                    <div class="card-body">
                        {% include 'administration/menu_vertical.html.twig' %}
                    </div>
                </div>
            </div>
            <div class="col-10">
                <div class="card p-5">
                    <div class="card-body">
                        <h1 class="card-title text-center">Gestion des salles</h1>

                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Capacité</th>
                                <th>Actions</th>
                                <th>Equipements</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for classroom in classrooms %}
                                <tr>
                                    <td>{{ classroom.name }}</td>
                                    <td>{{ classroom.Capacity }}</td>
                                    <td>
                                        {% for equipment in classroom.equipments %}
                                            {% if loop.last %}
                                                {{ equipment.name }}
                                            {% else %}
                                                {{ equipment.name }} |
                                            {% endif %}
                                        {% else %}
                                            Aucun équipement enregistrée..
                                        {% endfor %}
                                    </td>
                                    <td>
                                        <a class="btn btn-primary" href="{{ path('classroom_edit', {'id': classroom.id}) }}">Modifier</a>
                                        <form style="display: inline-block" method="post" action="{{ path('classroom_delete', {'id': classroom.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ classroom.id) }}">
                                            <button class="btn btn-danger">Supprimer</button>
                                        </form>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4">Aucune salle enregistrée..</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <button class="btn btn-outline-primary" data-toggle="modal" data-target="#newModal">Ajouter une salle</button>
                        {{ include('classroom/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
