{% extends 'base.html.twig' %}

{% block title %}Etudiant index{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="row">
            <div class="col">
                <div class="card p-5">
                    <div class="card-body">
                        <h1 class="card-title text-center">Gestion des Etudiants</h1>
                        <p class="text-center">Bienvenue sur la liste des etudiants</p>

                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for etudiant in etudiants %}
                                <tr>
                                    <td>{{ etudiant.id }}</td>
                                    <td>{{ etudiant.RFID.nom }}</td>
                                    <td>{{ etudiant.RFID.prenom }}</td>
                                    <td>
                                        <a class="btn btn-success" href="{{ path('etudiant_show', {'id': etudiant.id}) }}">Voir</a>
                                        <a class="btn btn-primary" href="{{ path('etudiant_edit', {'id': etudiant.id}) }}">Modifier</a>
                                        <form style="display: inline-block" method="post" action="{{ path('etudiant_delete', {'id': etudiant.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ etudiant.id) }}">
                                            <button class="btn btn-danger">Supprimer</button>
                                        </form>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="2">Pas d'étudiants enregistrés</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <a class="btn btn-outline-primary" href="{{ path('etudiant_new') }}">Ajouter un étudiant dans une promotion</a>
                    </div>
                    {{ include('_pagination.html.twig', {'currentPath': 'etudiant_index', 'page': page, 'nbPage': nbPage}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


